{% assign character_prefix = universe_slug | append: "/characters/" %}
{% assign universe_characters = site.pages | where_exp: "p", "p.path contains character_prefix" %}
{% assign characters = universe_characters | where: "lang", lang %}
{% assign universe_data = site.data[universe_slug] %}
{% assign characters_data = universe_data["characters"] %}
{% assign relations = universe_data["relations"]["relations"] %}
{% assign additional_relation_types = universe_data["additional-relation-types"] %}
{% if additional_relation_types %}
  {% assign relation_types = site.data["relation-types"] | concat: additional_relation_types %}
{% else %}
  {% assign relation_types = site.data["relation-types"] %}
{% endif %}
{% assign additional_metadata_keys = universe_data["additional-metadata-keys"] %}
{% if additional_metadata_keys %}
  {% assign metadata_keys = site.data["metadata-keys"] | concat: additional_metadata_keys %}
{% else %}
  {% assign metadata_keys = site.data["metadata-keys"] %}
{% endif %}
{% assign groups = universe_data["groups"] %}
{% assign used_group_slugs = " " %}
{% if groups %}
  {% for character in characters %}
    {% assign char_slug = character.path | split: "/" | last | split: "." | first %}
    {% assign char_data = characters_data | where: "slug", char_slug | first %}
    {% if char_data["group"] %}
      {% assign used_group_slugs = used_group_slugs | append: char_data["group"] | append: " " %}
    {% endif %}
  {% endfor %}
{% endif %}
